$primary: #5265E1 !default;
$secondary: #FA5959  !default;

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

$bg-decortion: #5265E1;

body{
    color: $gray-600;
}
.overflow-hidden{
    overflow-x: hidden;
}
.color-link-tabs{
    color: $gray-500;
    font-size: 1.2rem;
    border-bottom: 2px solid transparent;
}
.color-link-tabs:hover,
.color-link-tabs:focus{
    border-bottom: 2px solid orange;
}
h1, h2, h3, h4{
    color: $black;
}
// img{
//     width: 100%;
//     object-fit: cover;
//     object-position: center;
// } 
@mixin dir_decoration($x,$y,$width,$radius ) {
    content: '';
    position: absolute;
    width: 100vw;
    height: $width;
    transform: translate($x, $y);
    padding: 1rem;
    background-color: $bg-decortion;
    border-radius: $radius;
    z-index: -2;  
}
.decoration-right, .decoration-left{
    position: relative;
}
.decoration-right::after {
    @include dir_decoration(10%, 33%, 80%, 0 0 0 100px);
}
.decoration-left::after{
    @include dir_decoration(-110%, 33%, 100%, 0 0 100px 0);
}
.custom-grid{
    display: grid;
    row-gap: 1rem;
    place-items: center;
    padding: 1rem;
}
.paragraf{
    max-width: 50%;
}
.custom-card{
    background-color: white;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    box-shadow: 0 0 5px 1px rgba(34,34,34, .2);
    border-radius: 20px;
}
.custom-card img{
    object-fit: contain;
}
.custom-card button{
    max-width: 75%;
}
@media screen and (min-width: 768px) {
    .custom-grid{
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }
}

