$primary: #5265E1 !default;
$secondary: #FA5959  !default;

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

$bg-decortion: #5265E1;

body{
    color: $gray-600;
}
.overflow-hidden{
    overflow-x: hidden;
}
.color-link-tabs{
    color: $gray-500;
    font-size: 1.2rem;
}
h1, h2, h3{
    color: $black;
}
img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.decoration::after {
    content: '';
    position: absolute;
    width: 100vw;
    height: 80%;
    transform: translate(10%, 33%);
    padding: 1rem;
    background-color: $bg-decortion;
    border-radius: 0 0 0 100px;
    z-index: -2;
}